{% extends 'base.html' %}

{% block title %}
  Home
{% endblock %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link {{ filter }} === 'Today'" href="?filter_by=Today" id="today-tab">Today</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="?filter_by=Upcoming" id="upcoming-tab">Upcoming</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{ filter }} === 'Past'" href="?filter_by=Past" id="past-tab">Past</a>
      </li>
    </ul>
    <div class="card-deck">
            {% for item in events %}
                <div class="card" style="width:400px">
                  <div class="card-body">
                    <h5 class="card-title">{{ item.title }}</h5>
                      <p class="card-text"><small class="text-muted"><b>Starts at:</b> {{ item.event_date }}</small></p>
                      <p class="card-text">Category: {{ item.category }}</p>
                      <p class="card-text">Tags: {{ item.tags.all|join:", " }}</p>
                      <p class="card-text">Author: {{ item.organiser }}</p>
                      {% if user.is_authenticated %}
                        {% if item.can_view == True %}
                            <a href="/event/{{item.event_id}}" class="btn btn-primary">View</a>
                        {% else %}
                            <div class="alert alert-warning">
                              <strong>Upcoming!</strong>
                          </div>
                        {% endif %}
                      {% else %}
                          <div class="alert alert-danger">
                              <strong>Login!</strong> to view <a href="#" class="alert-link">session</a>.
                          </div>
                      {% endif %}
                  </div>
                </div>
            {% endfor %}
    </div>
</div>
<script>
    $(document).ready(function() {
        var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = window.location.search.substring(1),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
                }
            }
        };
    var filter_by = getUrlParameter('filter_by');
    if (filter_by === 'Upcoming'){
            $("#upcoming-tab").addClass('active');
        }
       if (filter_by === 'Today'){
            $("#today-tab").addClass('active');
        }
        if (filter_by === 'Past'){
            $("#past-tab").addClass('active');
        }
    });
</script>
{% endblock %}