{% extends 'base.html' %}

{% block title %}
  Home
{% endblock %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="btn-group" style="padding:10px">
      <button type="button" class="btn btn-success dropdown-toggle" id ="filter-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% if filter %}
          {{ filter }}
          {% else %}
           Filter
          {% endif %}
      </button>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="?filter_by=Today">Today</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="?filter_by=Upcoming">Upcoming</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="?filter_by=Past">Past</a>
      </div>
    </div>
    <div class="card-deck">
            {% for item in events %}
                <div class="card" style="width:400px">
                  <div class="card-body">
                    <h5 class="card-title">{{ item.title }}</h5>
                      <p class="card-text"><small class="text-muted"><b>Starts at:</b> {{ item.event_date }}</small></p>
                      <p class="card-text">Category: {{ item.category }}</p>
                      <p class="card-text">Tags: {{ item.tags.all|join:", " }}</p>
                      <p class="card-text">Author: {{ item.organiser }}</p>
                      {% if user.is_authenticated %}
                        {% if item.can_view == True %}
                            <a href="/event/{{item.event_id}}" class="btn btn-primary">View</a>
                        {% else %}
                            <div class="alert alert-warning">
                              <strong>Upcoming!</strong>
                          </div>
                        {% endif %}
                      {% else %}
                          <div class="alert alert-danger">
                              <strong>Login!</strong> to view <a href="#" class="alert-link">session</a>.
                          </div>
                      {% endif %}
                  </div>
                </div>
            {% endfor %}
    </div>
</div>
<script>
    $('.dropdown-menu a').click(function(){
        $('#filter-button').text($(this).text());
  });
</script>
{% endblock %}