
{% extends 'base.html' %}

{% block title %}
  Home
{% endblock %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="container">
      <div class="row">
        <div class="col">
          <iframe width="100%" height="400px" src="{{ youtube_url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    <div class="col">
        <ul class="nav nav-pills mb-1 flex-column flex-sm-row" id="myList" role="tablist">
          <li class=" flex-sm-fill text-sm-center nav-item">
            <a class="nav-link active" id="pills-shell-tab" data-toggle="pill" href="#pills-shell" role="tab" aria-controls="pills-shell" aria-selected="true">Shell</a>
          </li>
          <li class="flex-sm-fill text-sm-center nav-item">
            <a class="nav-link" id="pills-etherpad-tab" data-toggle="pill" href="#pills-etherpad" role="tab" aria-controls="pills-etherpad" aria-selected="false">EtherPad</a>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-shell" role="tabpanel" aria-labelledby="pills-shell-tab">
              <iframe width="100%" height="400px" src="{{ shell_url }}" frameborder="0"></iframe>
          </div>
          <div class="tab-pane fade" id="pills-etherpad" role="tabpanel" aria-labelledby="pills-etherpad-tab">
              <div id="examplePadBasic"></div>
          </div>
        </div>
    </div>

      <script>
        $(document).ready(function() {
          $('#examplePadBasic').pad({
            'padId': 'Wd2rY4umgc4',
            host: 'https://board.net',
            width: '30%',
            height: '500px',
            showControls: true,
            showChat: false,
            showLineNumbers: true,
            hideQRCode: true,
            border: '2px',
          });
        });
      </script>
</div>

{% endblock %}